* text
*.sql linguist-language=SQL linguist-detectable
*.cff linguist-language=YAML
*.json linguist-detectable
*.xml linguist-detectable
*.yml linguist-detectable
*.cfg linguist-language=INI linguist-detectable
*.properties linguist-language=Java-Properties linguist-detectable
*.bin binary -linguist-generated
*.boot binary -linguist-generated
*.aplx binary -linguist-generated
*.fig linguist-documentation
SpiNNaker-py2json/src/main/python/enum.py linguist-vendored
*.bit binary -linguist-generated
*.png binary
*.jpg binary
*/package-list linguist-generated
