# Root password for the MYSQL instance
MYSQL_ROOT_PASSWORD=

# Username for the spalloc database
SPRING_DATASOURCE_USERNAME=

# Password for the spalloc database
SPRING_DATASOURCE_PASSWORD=

# OpenID client id from EBRAINS
EBRAINS_OPENID_CLIENT_ID=

# OpenID client secret from EBRAINS
EBRAINS_OPENID_CLIENT_SECRET=

# The host that people will use to access spalloc
SPRING_SERVER_HOST=

# The API Key to access NMPI services (quota etc.)
SPALLOC_NMPI_API_KEY=

# The IP address that the proxy should use to speak to real machines
SPALLOC_PROXY_LOCAL_HOST=
