# Copyright (c) 2025 The University of Manchester
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# OpenID client id from EBRAINS
EBRAINS_OPENID_CLIENT_ID=spalloc

# OpenID client secret from EBRAINS
EBRAINS_OPENID_CLIENT_SECRET=

# The host that people will use to access the NMPI server
# This is the host name of this machine as seen from outside
NMPI_SERVER_HOST=

# The API Key to access NMPI services
NMPI_API_KEY=

# The IP address or URL that should use to speak to the spalloc server
SPALLOC_SERVER_URL=

# The path to where complete data files should be stored
DATA_PATH=

# The Group ID of the docker user (found from "getent group docker")
DOCKER_GROUP_ID=
